img {
    object-fit: contain;
    max-width: 100%;
  }
  
  .primary-image {
    height: 300px;
  }
  
  .images {
    height: 250px;
  }

  .table-img{
    width: 125px;
  }

  .product-detail-card{
    width: 40rem;
  }